<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thatguysservice.huami_xdrip">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" /> <!-- Used for Bluetooth access -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Since Android 10 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Used for reverse find device -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".HuamiXdrip"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Huamixdrip">

        <activity android:name=".SendFeedBackActiviy" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Huamixdrip.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="HuamiXdrip.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="41" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.thatguysservice.huami_xdrip.models.UserError" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.BroadcastService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".utils.bt.ConnectReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.bt.DisconnectReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.xDripReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.watch.wearintegration.WATCH_BROADCAST_SENDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AutoStart"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.bt.BackgroundScanReceiver" />
        <receiver android:name=".utils.framework.WakeLockTrampoline" />

        <service
            android:name=".watch.miband.MiBandService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice|location" />
    </application>

</manifest>
